html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
    
 }
body{
    width:100%;
}

p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea {
 margin: 0;
 padding: 0;
 font: normal normal normal 1em/1.25 Arial, Helvetica, sans-serif;
 }
.container
{
    width: 1170px;
    margin: 0 auto;
}
.nav{
    background-color: dimgray;
    text-align: center;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
.logo{
    height: 35;
    width: 140;
    background-color: coral;
    float: left;
}
.nav ul{
    float: left;
    margin-left: 40px;
    list-style-type: none;
    
}
.nav li{
    float: left;
    margin: 0 10px 0 10px;
   
    
    
}
.nav a{
     color: #aaaaaa;
     font-size: 18px;
     line-height: 35px;
    text-decoration: none;
    
}
.clear{
    clear: both;
}
.middle{
    background-color: #71c4ea;
    height: 485px;
    width: auto;
    margin-bottom: 63px;
}
.heading{
    margin: 0px auto 70px auto;
    text-align: center;
    color: #444444;
    font-size: 36px;
    line-height: 38px;
    font-weight: bold;
}

.works ul{
    margin: 0 auto;
    width: 815px;
    padding: 0;
    list-style-type: none;
    
}
.works li{
    float: left;
    margin-left: 45px;
    
    
}
.works ul li.clear{
    float: none;
    margin: 0;
    width: 0;
}
.circle{
    height: 140px;
    width: 140px;
    background-color: #efefef;
    border-radius: 70px;
    margin: 0 auto;
    
}
.text{
    
    margin: 10px auto;
    width: 170px;
    
}
.text p{
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    color: #888888;
}
.text p:hover{
    color: #444444;
}
.works li:first-child{
    margin-left: 0px;
}

.bottom{

    background-color: #ECECEC;
    margin-top: 109px;
    
}
.bottom ul{
    text-align: center;
    list-style-type: none;
    
}
.bottom li{
    
    display: inline-block;
    margin-left: 10px;
    
    
}
.bottom a{
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    color: #FF8000;
}
.bottom a:hover{
    color: #444444;
}